<div class="flex items-center justify-center h-screen bg-neutral-700">
  <div class="bg-white shadow-md rounded-md p-8 max-w-md w-full">
    <h2 class="text-2xl font-bold mb-4">Login</h2>
    <form (ngSubmit)="loginUser()">
      <div class="mb-4">
        <label for="login" class="block text-gray-700 text-sm font-bold mb-2">login:</label>
        <input type="text" id="login" [(ngModel)]="login" name="login" class="border rounded w-full py-2 px-3" required>
      </div>

      <div class="mb-4">
        <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" class="border rounded w-full py-2 px-3" required>
      </div>

      <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700">Login</button>
    </form>
  </div>
</div>
