<div class="flex flex-wrap gap-2 w-1/4 min-w-min border-r-slate-200 border-r-2 pr-6 max-h-screen overflow-scroll">
  <div *ngFor="let pokemon of pokemons" class="flex flex-grow flex-col rounded-lg bg-white shadow-slate-300 dark:bg-neutral-700 w-full">
    <div class="inline-flex" (click)="showPokemonDetail(pokemon.name)">
      <img class="rounded-t-lg" [src]="pokemon.sprites.front_default" alt="" />
      <div class="p-6">
        <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50 capitalize">
          {{ pokemon.name }}
        </h5>
      </div>
    </div>
    <div class="inline-flex">
      <app-type-tag *ngFor="let type of pokemon.types" [type]="type.type.name" />
    </div>
  </div>
</div>
