<div *ngIf="pokemon" class="max-w-md mx-auto mt-8 p-6 rounded-md shadow-md dark:bg-neutral-700">
  <h2 class="text-3xl font-bold mb-4 text-center text-neutral-800">{{ pokemon.name }}</h2>
  <div class="flex justify-center">
    <img [src]="pokemon.image" alt="{{ pokemon.name }}" class="rounded-lg">
  </div>
  <div class="mt-6">
    <h3 class="text-xl font-semibold mb-2 text-neutral-700">Types:</h3>
    <div class="flex ml-6">
      <app-type-tag *ngFor="let type of pokemon.types" [type]="type"></app-type-tag>
    </div>
  </div>
  <div class="mt-6">
    <p class="text-neutral-700">Weight : {{ pokemon.weight }} kg</p>
    <p class="text-neutral-700">Height : {{ pokemon.height }} cm</p>
  </div>
</div>

