<app-header/>

<div *ngIf="pokemon" class="max-w-md mx-auto mt-16 p-6 rounded-md shadow-md dark:bg-neutral-700">
  <h2 class="text-3xl font-bold mb-4 text-center text-neutral-800">{{ pokemon.name }}</h2>
  <div class="flex justify-center">
    <img *ngIf="pokemon.image" [src]="pokemon.image" alt="{{ pokemon.name }}" class="rounded-lg w-full">
  </div>
  <div class="mt-6">
    <h3 class="text-xl font-semibold mb-2 text-neutral-700">{{ 'TYPES' | translate }} :</h3>
    <div class="flex flex-wrap gap-2">
      <app-type-tag *ngFor="let type of pokemon.types" [type]="type"></app-type-tag>
    </div>
  </div>
  <div class="mt-6">
    <p class="text-neutral-700">{{ 'WEIGHT' | translate }}: {{ pokemon.weight }} kg</p>
    <p class="text-neutral-700">{{ 'HEIGHT' | translate }}: {{ pokemon.height }} cm</p>
  </div>
  <button (click)="editPokemon(pokemon)" class="mt-6 px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-600 focus:outline-none focus:ring focus:border-blue-300">
    {{ 'EDIT_POKEMON' | translate }}
  </button>
</div>
