<header id="top" class="bg-white z-50 fixed top-0 w-full shadow-xl">
    <nav id="main-nav" class="bg-white max-w-5xl mx-auto p-6 flex items-center justify-between">
        <a (click)="navigateToPokedex()" class="flex" aria-label="Page d'accueil">
            <img src="https://www.pngmart.com/files/23/Pokedex-PNG.png" class="hidden md:w-9 md:inline md:mr-4" alt="" >
            <span class="text-lg lg:text-xl" aria-hidden="true">
                Pokedex App
            </span>
        </a>
        <button
            aria-label="toggle button"
            aria-expanded="false"
            id="menu-btn"
            (click)="toggleMenu()"
            class="cursor-pointer w-7 md:hidden">
            <div class="space-y-2">
                <div [ngClass]="toggled ? 'rotate-45 translate-y-2.5' : ''"
                    class="w-8 h-0.5 bg-gray-600 transition-all"></div>
                <div [ngClass]="toggled ? 'opacity-0' : 'opacity-100'"
                    class="w-8 h-0.5 bg-gray-600 transition-all"></div>
                <div [ngClass]="toggled ? '-rotate-45 -translate-y-2.5' : ''"
                    class="w-8 h-0.5 bg-gray-600 transition-all"></div>
            </div>
        </button>
        <ul id="toggled-menu"
        [ngClass]="toggled ? '' : '-translate-y-full'"
        class="w-full absolute top-full left-0
            bg-white
            -z-10 text-gray-800 border-b border-gray-200
            flex flex-col items-center
            md:static md:z-10 md:w-fit md:transform-none md:border-none md:flex-row">
            <li class="py-4 md:py-0 md:mr-6">
                <a (click)="navigateToPokedex()" class="text-sm uppercase font-semibold w-full hover:text-red-400 transition-all">{{ 'LIST' | translate }}</a>
            </li>
            <li class="py-4 md:py-0 md:mr-6">
                <a (click)="navigateToFavorites()" class="text-sm uppercase font-semibold w-full hover:text-red-400 transition-all">{{ 'FAVORITES' | translate }}</a>
            </li>
            <li class="py-4 md:py-0 md:mr-6">
                <a (click)="navigateToUsersList()" class="text-sm uppercase font-semibold w-full hover:text-red-400 transition-all">{{ 'USERS' | translate }}</a>
            </li>
            <li class="py-4 md:py-0 md:mr-6 log-out-btn">
                <a (click)="logout()" class="text-sm uppercase font-semibold text-red-600 hover:text-red-400 transition-all focus:outline-none">{{ 'LOG_OUT' | translate }}</a>
            </li>
            <li class="py-4 md:py-0 md:mr-6">
                <button (click)="switchLanguage('fr')" class="focus:outline-none">
                    <img src="https://flagicons.lipis.dev/flags/4x3/fr.svg" alt="French Flag" class="w-6 h-6">
                </button>
            </li>
            <li class="py-4 md:py-0 md:mr-6">
                <button (click)="switchLanguage('en')" class="focus:outline-none">
                    <img src="https://flagicons.lipis.dev/flags/4x3/gb.svg" alt="English Flag" class="w-6 h-6">
                </button>
            </li>
        </ul>
    </nav>
</header>
